.btnn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid;
  transition: var(--transition);
  color: var(--bright-navy-blue);
}

.btnn-secondary {
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
}

.btnn-secondary:hover, .btnn-secondary:focus {
  color: white;
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.baton {
  display: flex;
  justify-content: center;
}