.headerss {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 200px;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerSearchss {
  height: auto; /* Adjust height to auto for responsiveness */
  background-color: white;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 44px;
  position: absolute;
  bottom: 89px;
  width: 100%;
  max-width: 1224px;
}

.headerIconss {
  color: #3b79c9;
}

.headerSearchItemss {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px; /* Add margin for spacing between items */
}

.calendarWrapper .rdrCalendarWrapper,
.options {
  /* width: 100%; */
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 13px);
}

.options {
  transform: translate(-50%, -25px);
}
.headerSearchInputss {
  border: none;
  outline: none;
  color: black;
  border-right: 1px solid grey;
}

.headerSearchTextss {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.dates {
  position: absolute;
  left: 20px; /* Adjust the left position to move the date picker to the left */
  top: 60px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

/* Media query for responsiveness */
@media all and (max-width: 1030px) {
  .headerSearchItemss input {
    width: 100%;
  }
  .headerSearchss {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 5px;
    grid-template-rows: 6vh 6vh 6vh;
    place-items: center;
    background-color: red;
  }

  .headerSearchss .headerSearchItemss {
    background-color: white;
  }
  .headerSearchItemss:first-of-type {
    grid-column: 1/3;
  }

  .headerSearchItemss:nth-of-type(2) {
    grid-column: 1/2;
  }
  .headerSearchItemss:nth-of-type(3) {
    grid-column: 2/3;
  }
  .headerSearchItemss:last-of-type {
    grid-column: 1/3;
  }

  .headerSearchItemss {
    width: 100%;
  }

  .calendarWrapper .rdrCalendarWrapper,
  .options {
    /* width: 100%; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 13px);
  }

  .options {
    transform: translate(-50%, -25px);
  }
}
@media screen and (max-width: 768px) {
  .headerSearchss {
    bottom: --125px;
    right: unset;
    height: auto;
    flex-wrap: wrap;
    margin: 4px -45px;
    background-color: white;
    width: 80%;
  }
  .calendarWrapper .rdrCalendarWrapper {
    left: 135%;
    top: -55px;
  }

  .options {
    left: 0%;
  }
  .rdrCalendarWrapper {
    margin: 164px -42px;
  }
  .headerSearchItemss {
    margin: 10px; /* Increase margin for more space between fields */
  }

  .headerSearchInputss {
    height: 40px; /* Increase height for the input field */
    width: 100%;
    max-width: 250px; /* Adjust max-width as needed */
  }

  .headerSearchTextss {
    font-size: 14px; /* Decrease font size for the date and options text */
  }

  .dates {
    top: 60px; /* Adjust top position for the date picker */
  }

  .options {
    margin: 180px 1px; /* Adjust top position for the options menu */
  }

  .optionItem {
    width: 180px; /* Adjust width of option items */
  }
  .headerss {
    position: unset;
  }
}
