.pList {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg {
  width: 100%;
  height: 259px;
  object-fit: cover;
}

.pListTitles > h1 {
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .pList {
    grid-template-columns: 1fr;
  }
}